<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties">

    </properties>

    <typeAliases>
        <typeAlias type="com.mytest.domains.User"/>
        <typeAlias type="com.mytest.domains.Site"/>
        <typeAlias type="com.mytest.domains.Post"/>
        <typeAlias type="com.mytest.domains.Group"/>
        <typeAlias type="com.mytest.domains.UserGroup"/>
        <package name="com.mytest.domains"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!--使用jdbc事务管理，事务控制由mybatis-->
            <transactionManager type="JDBC"/>
            <!--数据库连接池，由mybatis 管理-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--加载映射文件-->
    <mappers>
        <!--通过 resource方法一次加载一个映射文件-->
        <!--注意这里的路径和 xml 文件-->
        <mapper resource="mappers/user.xml"/>
        <mapper resource="mappers/group.xml"/>
        <mapper resource="mappers/user_group.xml"/>
        <mapper class="com.mytest.mappers.Site"/>

    </mappers>
</configuration>